.graph{
    text-align: center;
}

.link{
    font-size: x-large;
    margin-bottom: 5rem;
}

.important{
    width:70rem;
}

@media screen and (max-width: 1200px) {
    .important {
        width: 55rem;
    }
}

@media screen and (max-width: 1000px) {
    .important {
        width: 45rem;
    }
}

@media screen and (max-width: 800px) {
    .important {
        width: 35rem;
    }
}

@media screen and (max-width: 500px) {
    .important {
        width: 23rem;
    }
}